<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>

    <title>JCloudObjects</title>

    <!-- Bootstrap core CSS -->
    <link href="landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="landing/vendor/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="landing/vendor/simple-line-icons/css/simple-line-icons.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"></link>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="landing/device-mockups/device-mockups.min.css"></link>

    <!-- Custom styles for this template -->
    <link href="landing/css/new-age.css" rel  ="stylesheet"></link>

  </head>

  <body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">JCloudObjects</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login">Login/Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Concept and Benefits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">JCloudObjects is a opiniated DRY based Micro Services framework based on the Spring Suite  </h1>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger"> JCloudObjects can make coding in Java fun again!</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup ipad_air_2 portrait gold">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="landing/img/12TracksMain.svg" class="img-fluid" alt=""></img>
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>JCloudObjects leverages the power of the Spring suit and adds key automation and Data Lifecycle management features to accelerate Java based Application development
        </h2>
        <div class="device-container">
          <div class="device-mockup galaxy_tab4 land black">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="landing/img/4areas.svg" class="img-fluid" alt=""></img>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
        <br></br>
        <h4> Across a layered Archiecture</h4>

        <br></br>

        <h4> <p> Channel layer- Browser , Mobile and Edge features</p></h4>
        <br></br>
        <h4> <p>Channel Gateway- Gateway services, Throttling, Auth  Microservices Proxy , Discovery etc</p></h4>
        <br></br>
        <h4> <p> Components Layer - Rich set of configurable Microservices for common functions like  Secure Vault Config, reporting , logging etc </p></h4>
        <br></br>
        <h4> <p> Rich domain model that uses patterns like Property Groups, Logical Data Models, Remoting to abstract and simplify data access and lifecycle management </p></h4>
        <br></br>
        <h4> <p> Infra as Code-Once clock deploy scripts to Cloud Platforms through Containers-Kubernetes, Pivotal Cloud Foundry and Rancher</p></h4>
        <br></br>
        <h4><p> Out of the Box CI/CD integration based on Jenkins Blue Ocean   </p> </h4>
        <br></br>
        <h4> <p>UI based Configuration of layers</p></h4>

        <hr></hr>

        <h2>  The main mission if JCloudObjects is to abstract the complexities of Java based Cloud Native Applications without Sacrificing control</h2>

      </div>


      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="landing/img/meditation.jpg" class="img-fluid" alt=""></img>
                  <img src="landing/img/ai.jpg" class="img-fluid" alt=""></img>

                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-folder-alt text-primary"></i>
                  <h3>Self Aware Data  layer(upcoming feature)</h3>
                  <p class="text-muted"> Data layer that moves beyond simple ORM and enables modelling of complex cloud native cognitive applications  !</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-check text-primary"></i>
                  <h3>Enterprise Grade Security</h3>
                  <p class="text-muted"> Based practice Security model built on Spring Boot 2.0 and Spring Security 5.0 </p>
                </div>ity
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-compass text-primary"></i>
                  <h3>Cloud Ready</h3>
                  <p class="text-muted"> Integration with Kubernetes, PCF and Rancher !</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <i class="icon-calendar text-primary"></i>
                  <h3> Next Gen features like GRPC based remoting, Streaming and PWA Support</h3>
                  <p class="text-muted"> Thymeleaf based suport wih batteries for Progressive Web Apps.!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2 class="section-heading">We are looking for contributors!</h2>
          <p>Go to our Github page!</p>
          <div class="badges">
            <a class="badge-link" href="/login"><img src="landing/img/GitHub_Logo.png" alt="GitHub"></img></a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We
        <i class="fa fa-heart"></i>
        new friends!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; 2017 Ravsanmut  All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">License</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="landing/vendor/jquery/jquery.min.js"></script>
  <script src="landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="landing/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="landing/js/new-age.min.js"></script>

  </body>

</html>
