
<th:block th:fragment="js-assets">
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->


    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="../vendor/bot-ui/build/botui.min.js"></script>

    
</th:block>



<th:block th:fragment="css-assets">
    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet"></link>

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet"></link>


    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>

    <link rel="stylesheet" href="../vendor/bot-ui/build/botui.min.css" />
    <link rel="stylesheet" href="../vendor/bot-ui/build/botui-theme-default.css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</th:block>

<th:block th:fragment="landing-css-assets">
    <!-- Bootstrap core CSS -->
    <link href="../landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="../landing/vendor/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="../landing/vendor/simple-line-icons/css/simple-line-icons.css"></link>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"></link>

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../landing/device-mockups/device-mockups.min.css"></link>

    <!-- Custom styles for this template -->
    <link href="../landing/css/new-age.css" rel  ="stylesheet"></link>

</th:block>


<th:block th:fragment="landing-js-assets">
    <!-- Bootstrap core JavaScript -->
    <script src="../landing/vendor/jquery/jquery.min.js"></script>
    <script src="../landing/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../landing/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../landing/js/new-age.min.js"></script>

</th:block>
